In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data as pdr
import yfinance as yfin

In [10]:
yfin.pdr_override()
start = '2010-01-01'
end = '2019-12-31'
df = pdr.get_data_yahoo('AAPL', start, end)
df.head()

[*********************100%%**********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close     Volume
Date
2010-01-04  7.622500  7.660714  7.585000  7.643214   6.478997  493729600
2010-01-05  7.664286  7.699643  7.616071  7.656429   6.490201  601904800
2010-01-06  7.656429  7.686786  7.526786  7.534643   6.386965  552160000
2010-01-07  7.562500  7.571429  7.466071  7.520714   6.375156  477131200
2010-01-08  7.510714  7.571429  7.466429  7.570714   6.417541  447610800